@{
    ViewData["Title"] = "Home Page";
}
<main>
    @section Shashin{
        <section class="home-section home-full-height" id="home">
            <div class="hero-slider">
                <ul class="slides">
                    <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image: url(&quot;lib/assets/images/restaurant/slider1.jpg&quot;);">
                        <div class="titan-caption">
                            <div class="caption-content">
                                <div class="font-alt mb-30 titan-title-size-1"> Hello &amp; welcome</div>
                                <div class="font-alt mb-40 titan-title-size-4">Bean Scene Restaurant</div>
                                <a class="section-scroll btn btn-border-w btn-round" href="~/Reservation/Sittings/">Booking</a>
                            </div>
                        </div>
                    </li>
                    <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image: url(&quot;lib/assets/images/restaurant/slider2.jpg&quot;);">
                        <div class="titan-caption">
                            <div class="caption-content">
                                <div class="font-alt mb-30 titan-title-size-2">Please enjoy your meal</div>
                                <a class="section-scroll btn btn-border-w btn-round" href="#specialities">Check Our Menu</a>
                            </div>
                        </div>
                    </li>
                    <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image: url(&quot;lib/assets/images/restaurant/slider3.jpg&quot;);">
                        <div class="titan-caption">
                            <div class="caption-content">
                                <div class="font-alt mb-30 titan-title-size-1"> Take a look at</div>
                                <div class="font-alt mb-40 titan-title-size-3">our specialities</div>
                                <a class="section-scroll btn btn-border-w btn-round" href="#specialities">Learn More</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging">
                    <li><a href="#" class="flex-active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ol>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#"></a></li>
                </ul>
            </div>
        </section>
    }
  <div class="main">
    <section class="module" id="specialities">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="font-serif">Take a look at</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="module-title font-alt">Our Specialities</h2>
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="content-box">
                        <div class="content-box-image"><img src="@Url.Content("~/lib/assets/images/restaurant/kabab.jpg")" alt="Kabab" /></div>
                            <h3 class="content-box-title font-serif">Kabab</h3>Organic ingredients, fresh and natural, carefully cooked, bring you the best taste feast
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="content-box">
                        <div class="content-box-image"><img src="@Url.Content("~/lib/assets/images/restaurant/limes.jpg")" alt="Limes" /></div>
                            <h3 class="content-box-title font-serif">Limes</h3>Organic ingredients, fresh and natural, carefully cooked, bring you the best taste feast
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="content-box">
                        <div class="content-box-image"><img src="@Url.Content("~/lib/assets/images/restaurant/radish.jpg")" alt="Radish" /></div>
                            <h3 class="content-box-title font-serif">Radish</h3>Organic ingredients, fresh and natural, carefully cooked, bring you the best taste feast
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="content-box">
                        <div class="content-box-image"><img src="@Url.Content("~/lib/assets/images/restaurant/corn.jpg")" alt="Corn" /></div>
                        <h3 class="content-box-title font-serif">Corn</h3>Organic ingredients, fresh and natural, carefully cooked, bring you the best taste feast
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module module-video bg-dark-30" data-background="@Url.Content("~/lib/assets/images/restaurant/coffee_bg.png")">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt mb-0">The Best Restaurant In Town. Enjoy Your Meal</h2>
                </div>
            </div>
        </div>
        <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=i_XV7YCRzKo', containment:'.module-video', startAt:3, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
   </section>
    <section class="module" id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="alt-module-subtitle">
                            <span class="holder-w"></span>
                            <h5 class="font-serif">Most popular menu</h5><span class="holder-w"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="module-title font-alt">Popular Dishes</h2>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-sm-6">
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
                                    <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$10.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Lemon and Garlic Green Beans</h4>
                                    <div class="menu-detail font-serif">Lemon / Garlic / Beans</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$14.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">LambBeef Kofka Skewers with Tzatziki</h4>
                                    <div class="menu-detail font-serif">Lamb / Wine / Butter</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$18.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Imported Oysters Grill (5 Pieces)</h4>
                                    <div class="menu-detail font-serif">Oysters / Veggie / Ginger</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$15.9</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Meatloaf with Black Pepper-Honey BBQ</h4>
                                    <div class="menu-detail font-serif">Pepper / Chicken / Honey</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$16.4</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
                                    <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$10.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Lemon and Garlic Green Beans</h4>
                                    <div class="menu-detail font-serif">Lemon / Garlic / Beans</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$14.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">LambBeef Kofka Skewers with Tzatziki</h4>
                                    <div class="menu-detail font-serif">Lamb / Wine / Butter</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$18.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Imported Oysters Grill (5 Pieces)</h4>
                                    <div class="menu-detail font-serif">Oysters / Veggie / Ginger</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$15.9</h4>
                                </div>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="menu-title font-alt">Meatloaf with Black Pepper-Honey BBQ</h4>
                                    <div class="menu-detail font-serif">Pepper / Chicken / Honey</div>
                                </div>
                                <div class="col-sm-4 menu-price-detail">
                                    <h4 class="menu-price font-alt">$16.4</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a class="btn btn-border-d mt-50" href="~/Reservation/Menu">Check our full menu</a></div>
            </div>
        </section>
    <hr class="divider-w">
    <section class="module pt-0 pb-0" id="reservation">
        <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6 side-image-text">
                <div class="row">
                        <div class="col-sm-12">
                            <h2 class="module-title font-alt align-middle">Reserve a Table</h2>
                            <p class="module-subtitle font-serif align-middle">
                                Make a reservation now! Select a date and sitting then you can enjoy the time in our resteraunt!
                            </p>
                        </div>
                </div>           
                <form class="reservation-form" id="reservationForm" action="" method="">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-calendar"></i></div>
                            <input class="form-control input-lg" id="date" type="date" name="date" placeholder="dd/mm/yyyy" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon-clock"></i></div>
                            <select class="form-control input-lg" id="time" name="time" type="text" required="required">
                                <option value="time" disabled="" selected="">Select Time</option>
                                <option value="1.30">Breakfast  8:00 am - 10:00 am</option>
                                <option value="3.00">Lunch     11:30 am -  2:00 pm</option>
                                <option value="4.30">Dinner     5:30 pm -  8:00 pm</option>
                            </select>
                        </div>
                    </div>
               
                    <div class="form-group">
                        <button class="btn btn-g btn-round btn-block btn-lg mt-20" id="rfsubmit" type="submit" >
                            <i class="fa fa-paper-plane-o"></i>Reserve
                        </button>
                    </div>
                    <div id="reservationFormResponse"></div>
                </form>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image restaurant-image-overlay"
                     style="background-image: url('/lib/assets/images/restaurant/reservation.jpg')">
            </div>
        </div>
    </section>
        <div class="scroll-up" style="display: none">
            <a href="#totop"><i class="fa fa-angle-double-up" style="color:#6F4500"></i></a>
        </div>
  </div>
</main>

