@model Reservation
@{
    ViewData["Title"] = "Booked";
}

@section Shashin2{
    <section class="module bg-dark-30" style='background-image: url("/lib/assets/images/section-4.jpg");'>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt mb-0"><i class="icon icon-happy"></i>Thank you!</h2>                    
                </div>
            </div>
        </div>
    </section>
}

<section class="module-small bg-gray-30 font-serif">
    <div class="form-group" style="margin:10px;padding:5px">
         <div class="row">
             <div class ="col-sm-8">
                <h1>Reservation - Booked</h1>
                <h2 >You have booked: @Model.Sitting.SittingType.Name</h2>                       
             </div>
             <div class="col-sm-4 mt-30">
                    <p>
                        <a class="btn btn-g btn-round btn-block" href="~/Membership/Reservation/Sittings/">
                            Make another reservation
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-g btn-round btn-block" href="~/Membership/Reservation/History/">
                            View my reservation
                        </a>
                    </p>
              </div>
        </div>
    </div>
    <div class="col-sm-12" style="border: 1px dotted black;padding:50px;margin-bottom:50px;">
        <p>Date: @Model.StartTime.ToString("dd/MM/yyyy/")</p> @*date time show wrong*@
        <p>Start Time: @Model.StartTime.ToString("hh:mm tt")</p>
        <p>Duration: @Model.Duration mins</p>
        <p>Number of guest: @Model.Guests </p>
        <p>Status: Pending</p>
        <hr />
        <p style="color:red; font-weight:300">Note: If you want to make any change for your reservation, please contact Bean Scene.</p>
    </div>

</section>